
     .jumbotron {
            text-align: center;
            background-color:#4d1919; 
            color: white;
            /*background-repeat: no-repeat;*/
            /*background-image: url("https://www.google.com/search?q=employee.png&rlz=1C5CHFA_enUS731US732&tbm=isch&imgil=6JZYXaii6bTw3M%253A%253BVYu0fNnBaJlRrM%253Bhttp%25253A%25252F%25252Fwww.clker.com%25252Fclipart-employee.html&source=iu&pf=m&fir=6JZYXaii6bTw3M%253A%252CVYu0fNnBaJlRrM%252C_&usg=__Es7f1ZBfW7A23Fsz7x6i29XKVro%3D&biw=1280&bih=615&dpr=2&ved=0ahUKEwjKr-HvpsrVAhWh7oMKHZJ3BEgQyjcIQQ&ei=QxSLWYqCNKHdjwSS75HABA#imgrc=6JZYXaii6bTw3M:");
            background-size: cover;*/
        }  
